# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker leftovers
*.log

# Model training cache
data/__pycache__/
model/**/__pycache__/
